.breadcrumWrapper{
    margin: 18px 10px;
}

.breadcrumWrapper h6 a{
   text-decoration: none;
}
.breadcrumWrapper h6 a:hover{
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    background: #affdd9;
    text-decoration: underline;
 }

 .cartSection{
    width: 100%;
    height: auto;
    padding: 30px 0px;
 }

 .cartSection p{
    font-size: 20px;
 }

 .cartSection .carthead{
    justify-content:space-between;
 }
 .cartSection .carthead .clearCart{
   
    font-size: 20px;
    font-weight: 500;
 }
 .cartSection .carthead .clearCart svg{
    color: #3bb77e;
    font-weight: 700;
    font-size: 28px;
    opacity: 1;
 }

 .cartWrapper table thead{
    background: #f1f1f1 ;
    overflow: hidden;
    border-radius: 5px;
 }
 
 .cartWrapper .table-responsive table tbody td .img img{
    width: 110px;
    padding: 7px ;
    border: 1px solid rgba(0, 0, 0, 0.092);
    border-radius: 8px;
 }

 .cartWrapper .table-responsive table tbody td .info{
    padding-left: 15px;
 }

 .cartWrapper .table-responsive table tbody td .info a {
    text-decoration: none;
    color: black;
 }
 .cartWrapper .table-responsive table tbody td .info a h4{
    font-size: 18px;
    font-weight: 500;
    opacity: .8;
    cursor: pointer;
  }
.cartWrapper .table-responsive table tbody  td{
   vertical-align: middle;
  }
.cartWrapper .table-responsive table tbody .unitprice{
   font-size: 20px;
   color: #090909d4;
   font-weight: 500;
}
.cartWrapper .table-responsive table tbody .subTotal{
   font-size: 20px;
   color: #3bb77e;
   font-weight: 500;
}
.cartWrapper .table-responsive table tbody .delete {
   margin-left: 15px;
   font-size: 30px;
   color: black;
   cursor: pointer;
}

.bottomBtn .leftBtn{
   text-transform: capitalize;
   font-size: 17px;
   height: 45px;
   width: 100%;
   background: #049752;
   color: #fff;
   transition: all .3s ease-in-out;
   }
.bottomBtn .leftBtn svg{
   margin-right:  5px;
}
.bottomBtn .leftBtn:hover{
   background: #f8b918;
   color: #000;
}
